        argon2-cffi                
async-generator            
attrs                    
backcall                
backports.functools-lru-cache 
backports.tempfile       
backports.weakref            
beautifulsoup4              
bleach                     
brotlipy                     
certifi                 
cffi             
chardet               
click                   
clyent                     
colorama                     
cryptography                
cycler                      
Cython                     
decorator                   
defusedxml                 
entrypoints             
filelock                
future                   
glob2                     
idna                        
importlib-metadata          
ipykernel                   
ipython                       
ipython-genutils              
ipywidgets                   
jedi                        
Jinja2                      
joblib                       
jsonschema                   
jupyter-client              
jupyter-core                 
jupyterlab-pygments         
kiwisolver                   
libarchive-c                
lxml                       
MarkupSafe                
matplotlib                            
nbclient                    
nbconvert                  
nbformat                 
numpy                       
olefile                    
packaging                 
pandas                     
pandocfilters                
parso                      
pickleshare                
Pillow                      
pip                        
pkginfo                      
prometheus-client           
prompt-toolkit             
psutil                     
pycosat                     
pycparser                    
Pygments                    
pyOpenSSL                
pyparsing                 
pyrsistent              
PySocks                     
pyTelegramBotAPI           
python-dateutil            
pytz                                     
PyYAML                       
pyzmq                      
qtconsole                  
QtPy                    
requests                    
ruamel-yaml                
scikit-learn                
scipy                    
seaborn             
selenium                     
Send2Trash                    
setuptools             
sip                       
six                         
sklearn                    
soupsieve               
tabulate                      
terminado                    
testpath                   
threadpoolctl                
tornado                     
tqdm                     
traitlets                  
urllib3                     
vedis                     
wcwidth                    
webencodings                
wheel                        
widgetsnbextension          
win-inet-pton              
wincertstore                 
xgboost                       
xmltodict                    
zipp                          
webdriver